@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=a+Akhir+Tahun:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



.underline {
  text-underline-position: from-font;
}
.decoration-skip-ink {
  text-decoration-skip-ink: none;
}